{% extends '@ZakjakubOswisAccommodation/documents/pdf-document.html.twig' %}

{% block css %}
    {% include '@ZakjakubOswisAccommodation/documents/accommodation-decree.css.twig' %}
{% endblock %}

{% block title %}
    Ubytovací dekret {% if reservation.id %}č. {{ reservation.id }}{% endif %}
{% endblock %}

{% block content %}
    <div class="decret">

        <div class="decret-images">
            <div class="decret-logo">
                <img src="{{ asset('build/images/UP_logo_PrF_horizont_cz.f59610ac.png') }}"/>
            </div>
            <div class="decret-genius-loci">
            </div>
        </div>

        <div class="header">
            <h1>
                Ubytovací dekret
            </h1>
        </div>

        <div class="decret-id">
            K rezervaci číslo: {{ reservation.id }}
        </div>

        <div class="decret-info">
            <p>
                <strong>
                    Potvrzujeme tímto pobyt v objektu PřF UP v Karlově pod Pradědem č. 60:
                </strong>
            </p>
            <p>
                Objednavatel: {{ customer.fullName }}{% if ((customer.email) or (customer.phone)) %},{% endif %}
                {{ customer.email }}{% if ((customer.email) and (customer.phone)) %},{% endif %}
                {{ customer.phone }}
            </p>
            <p>
                Termín pobytu:
                {{ reservation.startDateTime|date("j. n. Y") }} - {{ reservation.endDateTime|date("j. n. Y") }}
            </p>
            <p>
                Pokoje: {{ roomsString }}
            </p>
            <p>
                Celková cena pobytu: {{ reservation.totalPrice }},- Kč
                <small>(podrobný rozpis je uveden na druhé straně)</small>
            </p>
        </div>

        <div class="decret-text">
            <p>
                Tento Ubytovací dekret a originál Příjmového daňového dokladu předložte při
                zahájení Vašeho pobytu
                <strong>paní Haně Bruntsvykové, správkyni školícího a rekreačního střediska</strong>.
                <br>
                Proti těmto dokladům Vám budou vydány klíče od pokoje a vchodu do objektu,
                poskytnuto ložní povlečení (ručníky nejsou poskytovány).
                Správkyně je kompetentní k fyzickému přepočtu osob jednotlivých kategorií
                dle Ubytovacího dekretu; údaje eviduje do knihy návštěv.
            </p>
            <p>
                <strong>Hosté jsou povinni minimálně 24 hodin před začátkem pobytu</strong>
                telefonicky kontaktovat správkyni objektu na telefonu
                <strong>733 690 494 a dohodnout se na čase příjezdu</strong> a předání klíčů.
                <strong>Příjezd hostů je možný od 14:00 hodin.</strong>
                Správkyně není trvale v objektu k dispozici.
            </p>
            <p>
                Vyklizení objektu a odjezd hostů je stanoven do 10:00 hodin. Při nedodržení časů může být účtován
                poplatek až do výše ceny za jeden den pobytu (cena dne dle ceníku). Na konci pobytu hosté vrací klíče
                správkyni objektu. Před odjezdem jsou hosté povinni ponechat vysvlečené použité povlečení na pokoji,
                vynést směsný odpad do popelnice před objektem, tříděný odpad shromáždit v taškách na tříděný odpad
                před kuchyní, uklidit grilovací místo, vyklidit lednici, očistit sporák a uklidit umyté nádobí i další
                zapůjčené věci na své místo.
            </p>
            <p>
                Hosté, kteří využijí pobyt se svým domácím mazlíčkem, mohou být ubytováni pouze v pokoji č. 2.
                Volný pohyb zvířat není v objektu povolen. Majitel je povinen po svém domácím mazlíčkovi uklidit.
            </p>
            <p>
                Dodržování Ubytovacího řádu vyvěšeného v objektu nebo na
                https://www.prf.upol.cz/fileadmin/userdata/PrF/Zamestnanci/Karlov/Karlov-ubytovaci-rad.pdf
                je samozřejmostí.
            </p>
            <p>
                „Poučení o zpracování osobních údajů hostů školicího střediska PřF UP v Karlově pod
                Pradědem“ vztahující se k Vaší rezervaci a ubytování je k dispozici na stránce
                https://www.prf.upol.cz/zamestnanci/nabidka-rekreace/.
            </p>
            <p>
                Děkujeme za respektování těchto pokynů. Přejeme příjemný pobyt a hezké počasí!
            </p>
        </div>

        <div class="decret-footer">
            <p>
                V Olomouci dne 1.2.2003
            </p>
            <p>
                Vystavil(a): {{ author.fullName }}
            </p>
            <p style="text-align: right; padding-top: 0; padding-right: 5em;">
                razítko a podpis
            </p>
        </div>
        <pagebreak/>


    </div>
{% endblock %}
