<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" title="{{ contact.nickname|default() }}">
    <article class="contact {{ contact.genderClass|default('') }}" id="{{ contact.slug|default('') }}"
             itemscope itemtype='{{ contact.person ? 'http://schema.org/Person' : 'http://schema.org/Organization' }}'>
        <div content="{{ asset('/images/contacts/'~contact.image) }}" class="contact-image-box text-uppercase"
             style="background-image: url({{ asset('/images/contacts/'~contact.image) }})" itemprop="image">
            <h3 itemprop="name">{{ contact.name }}</h3>
            {% for position in contact.positions %}
                {% if position.active and position.special %}
                    <h4 itemprop="jobTitle" class="text-uppercase" title="{{ position.name }}">{{ position.shortName }}</h4>
                {% endif %}
            {% endfor %}
        </div>
        <div class="first-line" title="{{ contact.description ? contact.description|markdown_to_html|striptags : null }}">
            {{ contact.description ? contact.description|markdown_to_html : null }}
        </div>
        <div itemprop="description">
            {{ contact.note ? contact.note|markdown_to_html : null }}
        </div>
    </article>
</div>
