{% if organization is defined and organization %}

    <div class="row">
        <header class="col-lg-12 text-justify"><h2 class="text-uppercase">{{ organization.shortName }}</h2></header>
        <div itemprop="description" class="col-12">{{ organization.note|default|markdown_to_html }}</div>
    </div>

    <div class="row">
        <div class="col-lg-9">
            <p>
                <strong itemprop="legalName">{{ organization.name }}</strong>
                {% if organization.identificationNumber is defined and organization.identificationNumber %}
                    (IČ: <span itemprop="identifier">{{ organization.identificationNumber }}</span>)
                {% endif %}
            </p>

            <ul>
                {% for detail in organization.contactDetails %}
                    <li>
                        <strong>{{ detail.contactType.name|default('Kontakt') }}:</strong>
                        {% autoescape false %}{{ detail.formatted }}{% endautoescape %}
                    </li>
                {% endfor %}
            </ul>

            <span itemprop="url" content="{{ organization.url }}"></span>
            <span itemprop="logo" content="'{{ absolute_url(asset('/images/contacts/'~organization.image)) }}"></span>
            <span itemprop="contactPoint" itemscope itemtype="http://schema.org/ContactPoint">
                    <span itemprop="contactType" content="customer service"></span>
                    <span itemprop="areaServed" content="CZ"></span>
                    <span itemprop="availableLanguage" content="cs"></span>
                    <span itemprop="email" content="{{ organization.email }}"></span>
                    <span itemprop="telephone" content="{{ organization.phone }}"></span>
                    <span itemprop="productSupported" content="{{ organization.name }}"></span>
                </span>
        </div>

        <div class="d-lg-none col-md-4 col-sm-3 col-xs-2 d-print-none"></div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-8 text-uppercase center-block text-center d-print-none">
            <div id="small-banner" style="background-image: url('{{ asset('/images/contacts/'~organization.image) }}')"></div>
        </div>

    </div>
{% endif %}