{% set imgSrc = preload(asset(contact.image ? '/images/contacts/'~contact.image : 'assets/images/seznamovak/kytka-512-upscale.png'), {as: 'image'}) %}

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" title="{{ contact.nickname|default(contact.name|default) }}" itemprop="member" data-toggle="tooltip"
     itemscope itemtype='{{ 'http://schema.org/' ~ contact.person ? 'Person' : 'Organization' }}'>
    <article class="profile {{ contact.gender|default }}" id="person-profile-{{ contact.slug|default(contact.id) }}">
        <div class="profile-image-box text-uppercase" itemprop="image" style="background-image: url({{ imgSrc }})" content="{{ imgSrc }}">
            <h3 itemprop="name">{{ contact.name }}</h3>
            <meta itemprop="alternateName" content="{{ contact.nickname|default(contact.givenName)|default }}">
            {% if position.active and position.special %}
                <h4 class="text-uppercase">
                    <span itemprop="jobTitle" title="{{ position.name|default }}" data-toggle="tooltip" content="{{ position.name|default }}">
                        {{ position.shortName|default }}
                    </span>
                </h4>
            {% endif %}
        </div>
        <div itemprop="description" class="first-line" title="{{ position.description|markdown_to_html }}" data-toggle="tooltip" data-html="true">
            {{ position.description|default|markdown_to_html }}
        </div>
        <div itemprop="description">
            {{ position.note|default|markdown_to_html }}
        </div>
    </article>
</div>
