{% set imgSrc = preload(asset(contact.oneImage ? '/images/contacts/'~contact.oneImage : 'assets/images/seznamovak/kytka-512-upscale.png'), {as: 'image'}) %}

<div class="col"
     title="{{ contact.nickname|default(contact.name|default) }}"
     itemprop="member"
     data-toggle="tooltip"
     itemscope
     itemtype='{{ 'http://schema.org/' ~ contact.person ? 'Person' : 'Organization' }}'>

    <article class="card profile {{ contact.gender|default }} border-0 h-100 m-1"
             id="person-profile-{{ contact.slug|default(contact.id) }}">
        <div style="background-image: url({{ imgSrc }}) !important; background-position: center; background-repeat: no-repeat; background-size: cover;"
             itemprop="image"
             class="card-img rounded rounded-3 ratio ratio-1x1 "
             content="{{ imgSrc }}">
            <div class="card-img-overlay">
                {% if position.active and position.special %}
                    <h4 itemprop="jobTitle"
                        data-bs-toggle="tooltip"
                        title="{{ position.name|default }}"
                        content="{{ position.name|default }}"
                        class="card-subtitle text-uppercase top-0 start-0">
                        {{ position.shortName|default }}
                    </h4>
                {% endif %}
                <meta itemprop="alternateName" content="{{ contact.nickname|default(contact.givenName)|default }}">
                <h3 class="card-title text-uppercase position-absolute bottom-0 py-2" itemprop="name">{{ contact.name }}</h3>
            </div>
        </div>
        <div class="card-body px-0 py-1">
            <div itemprop="description"
                 class=" card-text first-line text-truncate"
                 title="{{ position.description|markdown_to_html }}"
                 data-bs-toggle="tooltip"
                 data-bs-html="true">
                {{ position.description|default|markdown_to_html }}
            </div>
            <div itemprop="description">
                {{ position.note|default|markdown_to_html }}
            </div>
        </div>
    </article>

</div>
