{% extends 'e-mail/message.html.twig' %}
{% block title %}
    Zpravodaj Přírodovědecké fakulty Univerzity Palackého v Olomouci
{% endblock %}
{% block description %}
    Zpravodaj Přírodovědecké fakulty Univerzity Palackého v Olomouci
{% endblock %}
{% block content %}
    <table style="width:90%; min-width:300px; max-width:800px; margin:10px auto; text-align:justify;">
        <tr>
            <td colspan="2" style="text-align: center;">
                <a target='_blank' href='{{ url }}' style="display: block; width: 60%; min-width: 140px; max-width: 280px; margin: 0 auto;">
                    <img id='logo' border=0 alt='Přírodovědecká fakulta UP' src='{{ logoCz }}'
                         style='border:0 none; text-align:center; width: 100%; margin: 0 auto;'>
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>
                    Vážení zaměstnanci a studenti, další číslo
                    <a href="{{ url }}" title="Zpravodaj PřF">Zpravodaje Přírodovědecké fakulty</a>
                    na Vás čeká na webových stránkách, zde přinášíme krátkou ochutnávku:
                </p>
            </td>
        </tr>
        {% for item in items %}
            <tr style="text-align: justify;">
                <td colspan="2">
                    <hr color='#EB6D25' style='color:#EB6D25;'>
                </td>
            </tr>
            <tr style="margin:0; padding:0;text-align:justify;">
                <td colspan="2" style="margin: 0; padding: 0;">
                    <h2 style="margin: 0; padding: 0;color: #eb6d25;">
                        <a href="{{ url }}" color="#eb6d25" style="color:#eb6d25;"
                           title="Zpravodaj PřF">{{ item.title }}</a>
                    </h2>
                </td>
            </tr>
            <tr style="padding-top: 0.5em; padding-bottom: 0.5em; box-sizing: border-box;">
                <td style="width: 120px; width: 20%; min-width: 120px; max-width: 180px;">
                    <a href="{{ url }}" title="Zpravodaj PřF">
                        <img style="margin: 0 auto; width: 90%; text-align:center;vertical-align: middle;"
                             src="{{ item.logo }}">
                    </a>
                </td>
                <td>
                    <p>
                        {{ item.content }}
                        [<a href="{{ url }}" title="Zpravodaj PřF">více&nbsp;zde</a>]
                    </p>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2">
                <div>
                    <hr color='#EB6D25' style='color:#EB6D25;'>
                    <small color="#eb6d25" style="font-size:0.7em;color:#eb6d25;">
                        Tento e-mail jste obrželi, jelikož je Vaše adresa obsažena v seznamu
                        studentů a zaměstnanců Přírodovědecké fakulty Univerzity Palackého v Olomouci.
                    </small>
                </div>
            </td>
        </tr>
    </table>
    <table style="width:90%; min-width:300px; max-width:800px; margin:10px auto; text-align:justify;">
        <tr>
            <td colspan="2" style="text-align: center;">
                <a target='_blank' href='{{ urlEn }}' style="display: block; width: 60%; min-width: 140px; max-width: 280px; margin: 0 auto;">
                    <img id='logo' border=0 alt='Faculty of Science, Palacky University' src='{{ logoEn }}'
                         style='border:0 none; text-align:center; width: 100%; margin: 0 auto;'>
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>
                    Dear colleagues and students, next issue of
                    <a href="{{ urlEn }}"
                       title="Newsletter of Faculty of Science">Newsletter of
                        Faculty of Science</a>
                    is ready for you in our web site. Here you can see some topics:
                </p>
            </td>
        </tr>
        {% for item in itemsEn %}
            <tr>
                <td colspan="2">
                    <hr color='#EB6D25' style='color:#EB6D25;'>
                </td>
            </tr>
            <tr style="margin: 0; padding: 0;">
                <td colspan="2" style="margin: 0; padding: 0;">
                    <h2 style="margin: 0; padding: 0;color: #eb6d25;">
                        <a href="{{ urlEn }}" color="#eb6d25" style="color:#eb6d25;"
                           title="Newsletter of Faculty of Science">{{ item.title }}</a>
                    </h2>
                </td>
            </tr>
            <tr style="padding-top: 0.5em; padding-bottom: 0.5em; box-sizing: border-box;">
                <td style="width: 120px; width: 20%; min-width: 120px; max-width: 200px;">
                    <a href="{{ urlEn }}"
                       title="Newsletter of Faculty of Science">
                        <img style="margin: 0 auto; width: 90%; text-align:center;vertical-align: middle;"
                             src="{{ item.logo }}">
                    </a>
                </td>
                <td>
                    <p>
                        {{ item.content }}
                        [<a href="{{ urlEn }}"
                            title="Newsletter of Faculty of Science">more</a>]
                    </p>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2">
                <div>
                    <hr color='#EB6D25' style='color:#EB6D25;'>
                    <small color="#eb6d25" style="font-size:0.7em;color:#eb6d25;">
                        You have received this e-mail, because your address is included in list of students and
                        employees of Faculty of Science UP, Olomouc.
                    </small>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}




